<!DOCTYPE html>
<html>
    <head>
        <title>About | MERN Weather</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Shamli Singh. It uses data from <a href="https://mapbox.com">Mapbox</a> and <a href="https://weatherstack.com">Weatherstack</a></p>
        </div>
        
        {{>footer}}
    </body>
</html>