<!DOCTYPE html>
<html>
    <head>
        <title>Help | MERN Weather</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <h2>Help</h2>
        {{>footer}}
    </body>
</html>