<!DOCTYPE html>
<html>
    <head>
        <title>MERN Weather</title>
        <link rel="stylesheet" href="/css/styles.css">
        <!-- <script src="/js/app.js"></script> -->
    </head>
    <body>
        {{>header}}
        <h2>Hello {{title}} from Handlebars</h2>
        {{>footer}}
    </body>
</html>